.brand-page-main-header{
  height: 100vh;
  width: 100%;

  .brand-page-main-header-content{
    height: calc(100vh - 122px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .brand-page-main-header-content-img{
      text-align: center;
      width: 945px;
      max-width: 100%;
      margin: 0 auto;
      img, video{
        width: 100%;
      }
    }
    .brand-page-main-header-content-text{
      margin-left: 200px;
      position: relative;
      width: 286px;

      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 157%;
        color: #FFFFFF;
      }
      &:after{
        content: '';
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #F86161;
        position: absolute;
        top: -24px;
        left: 0;
      }
    }
  }

  @media (max-width: 992px){
    .brand-page-main-header-content{
      .brand-page-main-header-content-img{
        margin-bottom: 138px;
      }
      .brand-page-main-header-content-text{
        margin: 0 auto!important;
      }
    }

  }

}