@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

.font-poppins-regular{
  font-family: "Poppins-Regular", sans-serif;
}