* {
    box-sizing: border-box;
    outline: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
    body{
        margin: 0;
        font-family: "Poppins-Regular", sans-serif;

    }
}

.icon{
    width: 19px;
    height: 19px;
    display: inline-block;

    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    background-color: #FFFFFF;

    &-phone{
        mask-image: url("/assets/icons/phone.svg");
        -webkit-mask-image: url("/assets/icons/phone.svg");
    }
    &-instagram{
        mask-image: url("/assets/icons/instagram.svg");
        -webkit-mask-image: url("/assets/icons/instagram.svg");
    }
    &-email{
        mask-image: url("/assets/icons/email.svg");
        -webkit-mask-image: url("/assets/icons/email.svg");
    }
}
.scroll-down-item{
    position: fixed;
    right: 237px;
    bottom: 10px;
    cursor: pointer;
    animation-name: anim-title;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    display: none;
    transition: all 0.2s linear;
    &:hover{
        bottom: 30px;
    }
}
.main-header-nav{
    padding: 58px 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 197px;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 26.5px;
            a{
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s linear;
                &:hover, &.active{
                    color: #83CBFF;
                }
            }
        }
    }
}
@keyframes anim-title {
    100%{
        transform: rotate(360deg);
    }
}