* {
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;

  body {
    margin: 0;
    font-family: "Poppins-Regular", sans-serif;

  }
}

.icon {
  width: 19px;
  height: 19px;
  display: inline-block;

  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  background-color: #FFFFFF;

  &-phone {
    mask-image: url("/assets/icons/phone.svg");
    -webkit-mask-image: url("/assets/icons/phone.svg");
  }

  &-instagram {
    mask-image: url("/assets/icons/instagram.svg");
    -webkit-mask-image: url("/assets/icons/instagram.svg");
  }

  &-email {
    mask-image: url("/assets/icons/email.svg");
    -webkit-mask-image: url("/assets/icons/email.svg");
  }
}

.scroll-down-item {
  position: fixed;
  right: 237px;
  bottom: 10px;
  cursor: pointer;
  animation-name: anim-title;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
  transition: all 0.2s linear;

  &:hover {
    bottom: 30px;
  }
  @media (max-width: 576px){
    display: none!important;
  }
}

.layer-scroll-component{
  position: fixed;
  width: 177px;
  height: 177px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  cursor: pointer;
  z-index: 1;
  img{
    width: 100%;
    height: 100%;
  }

  animation-name: anim-tap;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.3s linear;

  &.scrolled{
    right: 30px;
    //width: 100px;
    //height: 100px;
    left: calc(100% - 207px);
    animation-name: anim-title;
    animation-duration: 10s;
    animation-timing-function: linear;
    @media (max-width: 992px){
      right: -60px;
    }
  }


  @media (max-width: 992px){
    width: 100px;
    height: 100px;
    bottom: 80px;
  }


}

.main-header-nav {
  padding: 58px 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  .logo {
    width: 197px;
    @media (max-width: 1500px) {
      width: 150px;
    }
    @media (max-width: 576px){
      display: none;
    }
  }
  .logo-mobile{
    width: 42px;
    @media (min-width: 577px){
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 26.5px;
      @media (max-width: 1500px) {
        margin: 0 15px;
      }

      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;
        white-space: nowrap;
        transition: all 0.2s linear;

        &:hover, &.active {
          color: #83CBFF;
        }
      }
    }

    @media (max-width: 880px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    padding: 28px 100px 0;

  }
  @media (max-width: 992px) {
    padding: 28px 50px 0;
  }
}

.main-header-nav-mobile {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.42);
  backdrop-filter: blur(15px);
  height: 65px;
  align-items: center;
  z-index: 2;

  a, span {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 0 5px;
  }
  @media (min-width: 880px){
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  transition: all 0.3s linear;
  opacity: 0;
  width: 1400px;
  max-width: 90%;
  height: 0;
  overflow: hidden;
  max-height: 100%;
  overflow-y: auto;
  background: linear-gradient(46.32deg, #141414 12.55%, #141414 42.08%, #2C0E33 99.49%, #D14AF3 133.24%);
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 78px rgba(209, 74, 243, 0.45);

  &.modalXl{
    width: 1000px;
  }

  .modalContent {
    width: 100%;
  }

  &.modalLg {
    width: 872px;
  }

  &.modalXXl{
    width: 1130px;
  }

  &.active {
    top: 0;
    height: 1000px;
    max-height: 90%;
    opacity: 1;
    bottom: 0;

    .modalContent {
    }

    &.modalLg {
      .modalContent {
        padding: 40px;
      }
    }

    @media (max-width: 576px){
      max-height: 100%;
      max-width: 100%;
    }

    //@media (max-width: 576px) {
    //  max-height: 90%;
    //  bottom: 0;
    //  top: unset;
    //  overflow-y: auto;
    //}
  }


}

.modalBackdrop {
  position: fixed;

  background-color: rgba(63, 69, 54, 0.27);
  z-index: 9998;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  transition: all 0.3s linear;

  &.active {
    width: 100%;
    height: 100%;
  }
}

.project-layer{
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(25px);

  h2{
    font-weight: 400;
    font-size: 80px;
    line-height: 83px;
    color: #FFFFFF;
    margin: 0 auto 50px;
    width: 1400px;
    max-width: 100%;
  }
  .project-layer-content{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    h3{
      font-weight: 800;
      font-size: 40px;
      line-height: 132.9%;
      background: linear-gradient(259.16deg, #3190FF 19.87%, #D14AF3 85.98%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 90px;
      margin-top: 0;
    }
    .project-layer-content-info{
      display: flex;

      h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        color: #FFFFFF;
        margin: 0 140px 0 0;
      }
      h5{
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        margin: 0 140px 0 0;
      }
    }
  }
  .icon-x{
    position: absolute;
    right: 80px;
    top: 70px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  @media (max-width: 1400px){
    padding: 50px 70px;
    h2{
      font-size: 70px;
      line-height: 71px;
      margin-bottom: 60px;
    }

    .icon-x{
      top: 50px;
      right: 60px;
    }
    .project-layer-content{
      h3{
        font-size: 30px;
        line-height: 132.9%;
      }
      .project-layer-content-info{
        display: flex;

        h4{
          font-size: 16px;
          line-height: 17px;
          margin: 0 70px 0 0;

        }
        h5{
          font-size: 15px;
          line-height: 16px;
          margin: 0 70px 0 0;
        }
      }
    }

  }
  @media (max-width: 1000px){
    padding: 50px 32px;
    h2{
      font-size: 36px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    .project-layer-content{
      flex-direction: column-reverse;
      .project-layer-content-left{
        width: 100% !important;
        margin-top: 50px;
      }
    }
    .layer-img{
      width: 300px;
      user-select: none;
    }
    .project-layer-content-right{
      display: flex;
      justify-content: center;
    }
    .icon-x{
      width: 22px;
      height: 22px;
    }
    .layer-mobile{
      height: 380px!important;
    }
  }
}

@keyframes anim-title {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim-tap{
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.09);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}