body {
  padding: 0;
  background-color: #1E1E1E;
}

%title {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  background: linear-gradient(259.16deg, #3190FF 19.87%, #D14AF3 85.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

%startedBtn {
  border: 3px solid #FFFFFF;
  border-radius: 56px;
  width: 365px;
  height: 98px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 52px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.home-page {
  background-color: #141414;
  .section-one {
    height: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      @extend %title;
      width: 642px;
    }
  }

  .section-two {
    width: 1334px;
    margin: 0 auto;

    .parent-box {
      display: flex;
      justify-content: space-between;
    }

    .box {
      width: 580px;
    }

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 74px;
      color: #71BDF4;
    }

    .title-pink {
      color: #DB4EAB;
    }

    .text {
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
    }

    button {
      @extend %startedBtn;
      margin: 200px auto 0 auto;
    }
  }

  .section-three {
    height: 1330px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      @extend %title;
      width: 607px;
    }
  }

  .section-four {
    position: relative;
    width: 1420px;
    margin: 0 auto;

    .absolute-left {
      width: 958px;
      height: 305px;
      position: absolute;
      top: -100px;
      left: 0;
      background: rgba(0, 255, 163, 0.1);
      filter: blur(73.5px);
    }

    .absolute-right {
      width: 958px;
      height: 305px;
      position: absolute;
      top: -100px;
      right: 0;
      background: rgba(0, 26, 255, 0.17);
      filter: blur(73.5px);
    }

    .parent-box {
      display: flex;
      justify-content: space-between;
    }

    .box {
      width: 252px;

      .circle {
        background: #3190FF;
        width: 19px;
        height: 19px;
        margin-bottom: 19px;
        border-radius: 50%;
      }

      .text {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
      }
    }

    .box:nth-child(2) {
      .circle {
        background: #FF31EA;
      }
    }

    .box:nth-child(3) {
      .circle {
        background: #FF3131;
      }
    }

    .box:nth-child(4) {
      .circle {
        background: #0F5509;
      }
    }

    .commit-text {
      margin-top: 115px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #FFFFFF;
      width: 650px;
    }

    button {
      @extend %startedBtn;
      margin: 105px auto 0 auto;
    }

    .all-step {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 66px;


      .step {
        width: 237.01px;
        height: 83.49px;
        background: rgba(206, 206, 206, 0.53);
        backdrop-filter: blur(11.5px);
        border-radius: 58px;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 132.9%;
        color: #003077;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .step-two {
        color: #8E0AA4;
      }

      .step-three {
        color: #A40A0A;
      }

      .step-four {
        color: #0F5509;
      }
    }
  }

  .partner-section {
    margin-top: 469px;

    h1 {
      @extend %title;
      margin: 0 auto;
      text-align: center;
    }

    .all-partner {
      width: 1450px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin: 40px auto 0 auto;

    }

  }

  .section-five {
    margin-top: 515px;

    img {
      width: 1420px;
      margin: 0 auto;
      display: block;
    }

    button {
      @extend %startedBtn;
      margin: 80px auto 0 auto;
    }
  }
}

.form-section {
  width: 1400px;
  margin: 147px auto 0 auto;

  .form-component {
    display: flex;

    h1 {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 132.9%;
      color: #FFFFFF;
    }

    .form {
      width: 982px;
      height: 830.05px;
      margin-top: 48px;
      margin-left: 60px;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        margin-bottom: 0;
        width: 700px;
      }
    }

    form {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(25px);
      border-radius: 26px;
      width: 982px;
      height: 830.05px;
      padding: 70px 0 0 0;
      box-sizing: border-box;

    }

    .form-group {
      padding: 0 55px 0 72px;
    }

    label {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #FFFFFF;
      margin-bottom: 23px;
      display: block;


    }

    input {
      background: #FFFFFF;
      box-shadow: 0 0 61px rgba(0, 0, 0, 0.34);
      border-radius: 5px;
      width: 100%;
      height: 60px;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 41px;
    }

    input[id='email'] {
      width: 434px;
    }

    input[id='phone'] {
      width: 383px;
    }

    textarea {
      min-height: 180px;
      width: 100%;
    }

    .email-and-number {
      display: flex;
      justify-content: space-between;
      padding: 0 55px 0 72px;
    }

    button {
      background: rgba(255, 255, 255, 0.63);
      border-radius: 0 0 26px 26px;
      height: 109.92px;
      width: 100%;
      margin-top: 78px;
      border: none;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 52px;
      color: #020202;
      cursor: pointer;
    }
  }
}

footer {
  width: 1440px;
  margin: 194px auto 200px auto;

  .footer-section {
    display: flex;
    justify-content: space-between;
  }

  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 40px;
    color: #FFFFFF;
    width: 300px;
  }

  .menu{
    display: flex;
    b{
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 97px;
      color: #FFFFFF;
    }
    ul{
      list-style: none;
      padding-left: 0;
    }
    li{
      margin-bottom: 16px;
    }
    a{
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      align-items: center;
      img{
        margin-right: 40px;
      }
    }
    .nav:last-child{
      margin-left: 155px;
      b {
        display: block;
        margin-bottom: 6px;
      }
      li{
        margin-bottom: 25px;
      }
      a{
        font-size: 24px;
        line-height: 172.7%;
      }
    }
  }
}

.web-page{
  .section-one{
    height: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      width: 450px;

     @extend %title;
    }
  }

  .section-two{
    width: 1400px;
    margin: 0 auto;
    .parent-box{
      display: flex;
      justify-content: space-between;
    }
    .box{
      width: 390px;
     margin-bottom: 50px;
    }
    .title{
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 97px;
      color: #FFFFFF;
    }
    .text{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
    }
  }

  .section-three{
    height: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      @extend %title;
      width: 650px;

    }
  }

  .carousel-section{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .count{
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      h1{
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 20px;
        color: #70A363;
      }
      h4{
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 20px;
        color: #F86161;
      }
    }
    .text{
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 62px;
      color: #FFFFFF;
      width: 570px;
    }
  }

  .section-four{
    width: 1420px;
    margin: 313px auto 0 auto;
    .parent-box{
      display: flex;
      justify-content: space-between;
      .box{
        width: 680px;
        img{
          width: 100%;
          display: block;
        }
        img:nth-child(2){
          margin-top: 70px;
        }
        .title{

          font-style: normal;
          font-weight: 800;
          font-size: 64px;
          line-height: 132.9%;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        .text{

          margin-top: 24px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
          width: 300px;
          margin-bottom: 265px;
        }
      }
    }
  }
}

.app-page{
  .title-section, .section-two{
    height: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      @extend %title;
      width: 823px;
      margin: 0 auto;
    }
  }

  .section-one{
    width: 1450px;
    margin: 0 auto;
    .parent-box{
      display: flex;
      justify-content: space-between;
    }
    .box{
      width: 390px;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 97px;
      color: #70A363;
    }
    .text{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
    }
    .text-second{
      color: #A95CB6;
    }
    .text-third{
      color: #D64A63;
    }
    button{
      @extend %startedBtn;
      margin: 130px  auto 0 auto;
      display: block;
    }
  }

  .section-two{
    h1{
      width: 808px;
    }
  }

  .section-three{
    width: 1100px;
    margin: 0 auto;
    height: 870px;
    background-image: url("/assets/home/iphone.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 345px;
    .box{
      background: linear-gradient(180deg, rgba(57, 135, 207, 0.21) 0%, rgba(209, 74, 243, 0.2324) 100%);
      backdrop-filter: blur(25px);
      border-radius: 18px;
      width: 667px;
      height: 460px;

      padding: 0 27px 15px 60px;
      box-sizing: border-box;
    }
    .title{
      font-weight: 600;
      font-size: 40px;
      line-height: 97px;
      color: #FFFFFF;
    }
    .text-left{
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      width: 290px;
    }
    .text-right{
      margin-top: 22px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      width:400px;
      float: right;
    }
  }
}

.brand-page{
  .section-one, .section-three{
    height: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      @extend %title;
      width: 1070px;
    }
  }

  .section-two{
    width: 1550px;
    margin: 0 auto;
    .parent-box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 57px;
    }
    .box{
      width: 47%;
      display: flex;
      justify-content: space-between;
    }
    .box-left{
      font-size: 64px;
      line-height: 50px;
      color: #70A363;
    }
    .box-left-second{
      color: #844A8E;
    }
    .box-left-third{
      color: #D64A63;
    }
    .box-right{
      margin-left: 53px;
      .title{
        font-size: 50px;
        line-height: 54px;
        color: #FFFFFF;
        font-weight: 600;
      }
      .text{
        font-size: 20px;
        line-height: 175.5%;
        color: #FFFFFF;
        margin-top: 40px;
        width: 474px;

      }
    }
  }

  .brand-section{
    width: 1500px;
    margin: 131px auto 0 auto;
    .title{
      font-size: 48px;
      line-height: 132.9%;
      color: #FFFFFF;
      font-weight: 800;
    }
    .brand{
      margin-top: 130px;
      margin-bottom: 196px;
      display: flex;
      justify-content: space-between;
    }
    .parent-box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 21px;
    }
  }

  .section-three{
    h1{
      width: 881px;
      padding-top: 240px;
      box-sizing: border-box;
    }
  }
}

